@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);
    background-color: #ececec;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

.border-b {
    border-color: rgba(0, 0, 0, 0.12);
}

.border-l {
    border-color: rgba(0, 0, 0, 0.12);
}

.border-r {
    border-color: rgba(0, 0, 0, 0.12);
}

.border {
    border-color: rgba(0, 0, 0, 0.12);
}

.border-t {
    border-color: rgba(0, 0, 0, 0.12);
}

.border-b-2 {
    border-color: rgba(0, 0, 0, 0.12);
}
